## EDA-Exploratory Data Analysis

In [3]:
#Import necessary imports
import pandas as pd

In [5]:
# Load the dataset into a Pandas dataframe
df = pd.read_csv('covid_impact_on_work_new.csv')
df.head()

,Stress_Level,Sector,Increased_Work_Hours,Work_From_Home,Hours_Worked_Per_Day,Meetings_Per_Day,Productivity_Change,Health_Issue,Job_Security,Childcare_Responsibilities,Commuting_Changes,Technology_Adaptation,Salary_Changes,Team_Collaboration_Challenges,Affected_by_Covid
0,Low,Retail,1,1,6.392.393.639.805.820,26.845.944.014.488.700,1,0,0,1,1,1,0,1,1
1,Low,IT,1,1,9.171.983.537.957.560,33.392.245.834.602.800,1,0,1,0,1,1,0,1,1
2,Medium,Retail,1,0,10.612.560.951.456.400,2.218.332.712.302.110,0,0,0,0,0,0,0,0,1
3,Medium,Education,1,1,5.546.168.647.409.510,5.150.566.193.312.910,0,0,0,0,1,0,0,0,1
4,Medium,Education,0,1,11.424.615.456.733.800,31.211.255.258.841.200,1,0,1,1,1,0,1,1,1

In [6]:
# Print out the basic info of the dataset to vew datatypes, column names, and non-null counts
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 15 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Stress_Level                   10000 non-null  object
 1   Sector                         10000 non-null  object
 2   Increased_Work_Hours           10000 non-null  int64
 3   Work_From_Home                 10000 non-null  int64
 4   Hours_Worked_Per_Day           10000 non-null  object
 5   Meetings_Per_Day               10000 non-null  object
 6   Productivity_Change            10000 non-null  int64
 7   Health_Issue                   10000 non-null  int64
 8   Job_Security                   10000 non-null  int64
 9   Childcare_Responsibilities     10000 non-null  int64
 10  Commuting_Changes              10000 non-null  int64
 11  Technology_Adaptation          10000 non-null  int64
 12  Salary_Changes                 10000 non-null  int64
 13  Team_Collaboration_Challenges  10000 non-null  int64
 14  Affected_by_Covid              10000 non-null  int64
dtypes: int64(11), object(4)
memory usage: 1.1+ MB
None

In [ ]:
# Print out column names to make sure there are no leading spaces
print(df.columns)

Index(['Stress_Level', 'Sector', 'Increased_Work_Hours', 'Work_From_Home',
       'Hours_Worked_Per_Day', 'Meetings_Per_Day', 'Productivity_Change',
       'Health_Issue', 'Job_Security', 'Childcare_Responsibilities',
       'Commuting_Changes', 'Technology_Adaptation', 'Salary_Changes',
       'Team_Collaboration_Challenges', 'Affected_by_Covid'],
      dtype='object')

In [8]:
# Checking for missing values
print(df.isnull().sum())

Stress_Level                     0
Sector                           0
Increased_Work_Hours             0
Work_From_Home                   0
Hours_Worked_Per_Day             0
Meetings_Per_Day                 0
Productivity_Change              0
Health_Issue                     0
Job_Security                     0
Childcare_Responsibilities       0
Commuting_Changes                0
Technology_Adaptation            0
Salary_Changes                   0
Team_Collaboration_Challenges    0
Affected_by_Covid                0
dtype: int64